header {
    text-align: center;
    color: rgb(109, 42, 126);
    border-radius:
     color rgb(109, 42, 126);
   
}
img {
    float: left;
    width: 350px;
    height: 600px;
}
h1 {
    
        text-align: center;
        color: rgb(110, 15, 39);
        border-style: double;color: rgb(110, 15, 39);
        
}
main {
    border-style: double;color: rgb(68, 23, 61);
    margin-left: 20px;
}
body {
    background-image: linear-gradient(to right, rgb(171, 124, 180) , rgb(245, 237, 204));
}
p {
    text-align: center;
}